@charset "UTF-8";
/* Apex Ranked CSS */

@import "lato.css";
@import "montserrat.css";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: Montserrat, Lato, sans-serif;
    line-height: 1.4;
    font-size: 14px;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body#primary-background {
    background-image: url("../img/general/background-repeat.jpg");
    background-repeat: repeat;
}

.container-lg {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

#hero-page-background {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 5;
}

.video-banner > video {
    display: block;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.hero-content {
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
}

.hero-intro {
    margin-bottom: 50px;
}

.hero-intro h1 {
    font-size: 2.6em;
    text-shadow: 0 0 1px transparent, 0 0 5px rgba(0,0,0,.8);
    color: #fff;
    margin-bottom: 25px;
}

.hero-intro p {
    color: #ebdec2;
    max-width: 65%;
    font-size: 16px;
    margin-bottom: 7px;
}

.hero-intro h4 {
    font-size: 1.3em;
}

.hero-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.hero-info .card-container {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    color: #fff;
    text-decoration: none;
    width: calc((100% / 2) - 1.5em);
    padding: 1.25em;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 0 1px #000;
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: background ease-in-out .15s;
}

.hero-info .card-container:hover {
    background-color: rgba(255, 255, 255, 0.30);
}

.card-icon {
    display: block;
    position: relative;
    flex: none;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.icon-question {
    background-image: url("../img/icons/icon_question.png");
}

.icon-book {
    background-image: url("../img/icons/icon_reddit.png");
}

.card-text {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 25px;
}

.card-text > h1 {
    font-size: 1.25em;
}

.card-text > p {
    margin-top: 5px;
}


.video-control {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

#hero-page-primary-content {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

/* === Button Styling === */

.btn {
    display: inline-block;
    padding: 5px;
}

.btn-alpha {
    background-color: #35a0ff;
    color: #fff;
}

/* === Play / Pause Button === */

.icon-play-container {
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.35);
    fill: #fff;
    opacity: 0.5;
    cursor: pointer;
    transition: ease-in-out .15s;
}

.icon-play-container:hover {
    opacity: 1;
}

/* === Navigation Styling === */

nav {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    width: 100%;
    line-height: inherit;
    z-index: 15;
}

nav .nav-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

nav .nav-container > ul {
    height: inherit;
}

nav .nav-container > ul > li {
    position: relative;
    display: inline-block;
    color: #fff;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    list-style-type: none;
    text-decoration: none;
}

nav .nav-container > ul > li {
    margin: 0 10px;
}

nav .nav-container > ul > li > a {
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 0 1px #000;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: background ease-in-out .15s;
}

nav .nav-container > ul > li > a:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: #f15a24;
    height: 1.5px;
    width: 100%;
    visibility: hidden;
    transform: scaleX(0);
    transition: ease-in-out 0.15s;
}

nav .nav-container > ul > li > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

nav .nav-container > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.30);
}

/* === Logo Styling === */
svg:not(:root) {
    overflow: hidden;
}

nav .logo {
    position: relative;
    display: flex;
}

nav .logo svg {
    position: relative;
    display: inline-block;
    width: 160px;
    padding: 5px;
}

nav .logo svg .logo-base-color {
    fill: #04CFF9;
}

nav .logo svg .logo-accent-color {
    fill: #000;
}

/* === Sticky Column === */
.sticky-column {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 56px;
}

/* === Carousel Styling === */

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.carousel-slides {
    display: none;
}

.dot-container {
    text-align: center;
    background-color: #000;
    padding: 5px;
}

.dot {
    cursor: pointer;
    height: 7.5px;
    width: 7.5px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .15s ease-in-out;
}

.active, .dot:hover {
    background-color: #bbb;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 0 1px #000;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: background ease-in-out .15s;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.30);
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.background-1 {
    background-image: url("../img/general/apex-carousel-two.jpg");
    background-position: 100% 30%;
}

.background-2 {
    background-image: url("../img/general/apex-carousel-season5.jpg");
    background-position: 10% 30%;
}

.carousel-slide-content {
    display: block;
    color: #fff;
    text-align: right;
    text-shadow: 0 0 1px transparent, 0 0 5px rgba(0,0,0,.8);
}

.carousel-slide-content > h1 {
    padding-top: 100px;
    margin-bottom: 25px;
    font-size: 2em;
}

.carousel-slide-content > p {
    margin: 0 0 0 auto;
    max-width: 50%;
}

.download-btn,
.carousel-btn {
    display: inline-block;
    position: relative;
    color: #fff;
    padding: 15px;
    margin-top: 25px;
    box-shadow: 0 0 0 1px #000;
    background-color: rgba(241, 60, 55, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: background ease-in-out .15s;
    text-decoration: none;
    font-weight: 700;
}

.download-btn > span,
.carousel-btn > span {
    position: relative;
    top: 1px;
}

.download-btn:hover,
.carousel-btn:hover {
    background-color: rgba(241, 60, 55, 0.85);
}

.download-btn > i,
.carousel-btn > i {
    vertical-align: middle;
    margin-right: 5px;
}

/* === Divider Styling === */

.divider {
    height: 10px;
    width: 100%;
    background-color: #000000;
}

/* === Footer === */
footer {
    display: block;
    text-align: center;
    font-size: 0.85em;
    padding: 100px;
    color: #fff;
}

footer .copyright-notice {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

/* === PC Page Styling === */
.ps4-intro,
.xbox-intro,
.pc-intro {
    margin-top: 100px;
    color: #fff;
    margin-bottom: 25px;
}

.feedback_text,
.feedback_form_wrapper {
    color: #fff;
    position: relative;
    width: 100%;
    margin-bottom: 25px;

}


.ps4-intro h1,
.xbox-intro h1,
.pc-intro h1 {
    font-size: 2.6em;
    margin-bottom: 15px;
}

.ps4-intro p,
.xbox-intro p,
.pc-intro p {
    color: #ebdec2;
    margin-bottom: 5px;
}

.pc-table-container {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin-bottom: 50px;
}

.pc-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    color: #fff;
    font-weight: 600;
    padding: 5px;
}

.pc-row.heading {
    border-bottom: .5px solid #fff;
    margin-bottom: 5px;
}

.pc-row.heading > .data {
    font-weight: 700;
    text-transform: none;
}

.pc-row > .data:last-child,
.pc-row.heading > .data:last-child {
    text-align: right;
}

.pc-row:not(:first-of-type):nth-of-type(even) {
    background-color: rgba(123, 92, 67, 0.15);
}

.pc-list .pc-row:not(:first-of-type):hover {
    background-color: rgba(123, 92, 67, 0.45);
}

.pc-row > .data {
    width: calc((100% / 5) - 10px);
}

.pc-row .pc-type {
    text-transform: uppercase;
}

.pc-row .pc-status.true {
    color: #22d65b;
}

.pc-row .pc-status.false {
    color: #ff4143;
}

.pc-row .pc-pop.unknown {
    color: #ffd25d;
}

.pc-row .pc-pop.full {
    color: #ff110e;
}

.pc-row .pc-pop.high {
    color: #ff4143;
}

.pc-row .pc-pop.medium {
    color: #f17a3c;
}

.pc-row .pc-pop.low {
    color: #35a0ff;
}

.pc-row .pc-type.pve {
    color: #f15a24;
}

.pc-row .pc-type.rp {
    color: #d159ff;
}

/* CSS loading animation from:
https://loading.io/css/
 */

.pc-list {
    opacity: 0;
    transition: opacity 0.75s ease-in-out 0.5s;
}

.pc-list.show {
    opacity: 1;
}

/* === Loading Animation === */
.xbox-loading,
.pc-loading {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
    pointer-events: none;
}

.xbox-loading.show,
.pc-loading.show {
    opacity: 1;
}

.xbox-loading > p,
.pc-loading > p {
    position: relative;
    top: 10px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #3f44f1;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

/* === XBOX page === */

.xbox-bracket-selection-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.xbox-bracket-selection-container > label {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-right: 10px;
}

#xbox-bracket-selection {
    width: 100%;
    max-width: 125px;
    text-align: right;
}

.xbox-unavailable {
    display: block;
    width: 500px;
    margin: 50px auto 0;
    padding: 25px;
    background-color: #ff4143;
    color: #fff;
}

.xbox-intro ul {
    padding-left: 30px;
    margin: 15px 0;
}

/* === PS4 Section === */

.ps4-intro > .scrollbox {
    height: 150px;
    overflow-y: scroll;
}

.ps4-intro ul {
    padding-left: 30px;
    margin: 15px 0;
}

.ps4-list > .construction {
    display: block;
    padding: 25px;
    background-color: #f15a24;
    color: #fff;
    margin: 50px auto 0;
    width: 500px;
}
